body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 32px;
  line-height: 36px;
  font-weight: 300;
  background-color: #ac1960 !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  color: inherit;
}
